.popupBackground {
  position: fixed;
  top: 5%;
  left: 5%;
  background-color: rgba(128, 128, 128, 0.836);
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  padding: 3rem;
  background-color: white;
}
