.App {
  text-align: center;
  background-color: #dae0e6;
  height: 100%;
  width: 100%;
}
.genButton {
  background-color: #0079d3;
  color: white;
  padding: 7px;
  font-size: 16px;
  border: none;
  margin: 5px;
  border-radius: 5px;
}
